.b1{
    height: 300px;
    width: 300px;
    background-color: rgb(231, 165, 165);
    float: left;
}

.b2{
    height: 300px;
    width: 300px;
    background-color: rgb(165, 231, 175);
    float: right;
}