body{
    background-color: black;
}
div{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #fff;
    transition: background-color 1s ease-in-out;
}


.color{
    background-color: yellow;
}